# pulling the coach's sheets from gdrive and downloading openpowerlifting data
google-api-python-client==2.128.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
requests==2.31.0

# spark needs this under the hood to write parquet files to iceberg super fast
pyarrow==15.0.0

# connects to our local postgres so we don't process the exact same file twice
psycopg2-binary==2.9.9

# for pushing the final gold tables up to bigquery
google-cloud-bigquery==3.21.0
google-cloud-storage==2.16.0

# lets us check iceberg table states without booting up a whole spark cluster
pyiceberg==0.6.0
